h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: khaki;
    background-image: url(pattern.webp);
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h3 {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

p {
    color: black;
    text-align: left;
}

span {
    font-weight: bold;
    color: blue;
}