html, body, #wrapper{
    height: 99%;
}

article{
    background-color: bisque;
    grid-area: inhalt;
}

header, article, aside, footer{
    padding: 10px;
}

header{
    background-color: aqua;
    grid-area: header;
    text-align: center;
}

nav{
    background-color: gray;
    grid-area: navigation;
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline;
    text-align: center;
    padding: 5px;
}

aside{
    background-color: brown;
    grid-area: randnotiz;
}

footer{
    background-color: yellow;
    grid-area: footer;
    text-align: center;
    margin: 0, auto ;
}

footer a{
    display: inline;
    color: rgb(30, 8, 51);
    padding: 5px;
}

/* wenn fenster schmaler als 800px...... alles untereiander angeordnet */
#wrapper{
    height: 98vh;
    display: grid;
    /* fr=fraction=anteil */
    /* wenn fenster 575px hoch wäre
    575-75-50-50=400
    400/4=100=1fr
    3fr=300px
    */
    grid-template-rows: 75px 50px 3fr 1fr 50px;
    grid-template-areas: 
    'header'
    'navigation'
    'inhalt'
    'randnotiz'
    'footer';
}

/* wenn fenster mind.800px breit ist */

@media screen and (min-width: 800px){
    #wrapper{
        grid-template-rows: 75px 1fr 50px;
        grid-template-columns: 25% 50% 25%;
        grid-template-areas:
        'header header header'
        'navigation inhalt randnotiz'
        'footer footer footer';
    }

    nav ul li{
        display: block;
    }

    aside{
        background-color: greenyellow;
    }
}

@media print{
    #wrapper{
        grid-template-rows: auto auto;
        grid-template-columns: 101%;
        grid-template-areas: 
            'header'
            'inhalt'
            'randnotiz';
    }
} 
