html{
    height: 98,5%;
}

body{
    background-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

div, header, nav, main, footer{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px; ;
}

header{
    background-color: yellow;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

nav{
    background-color: white;
    text-align: center;
}

nav ul li{
    display: inline;
    list-style-type: none;
}

main{
    /* margin-top: 20px;
    margin-bottom: 20px;
    weil wir unten schon margin: auto; haben */
    /*padding: 50px;*/
    width: 80%;
    margin: 20px auto;
    height: 50%;
    overflow: auto;
}

article{
    color: red;
    width: 40%;
}

#art1{
    color: blue;
    float: left;
}

#art2{
    float: right;
}

footer{
    background-color: green;
}

a{
    font-family: 'Courier New', Courier, monospace;
}

nav a, footer a{
    text-decoration: none;
}

#art1 a{
    text-decoration: underline double;
    font-size: 12px;
}

article ul li a{
    font-size: 48px;
}