body{
  background-color: lightgray;
  color: #0000ff;
}
h1{
  background-color: #ff0000;
  color: white;
}
div{
  background-color: yellow;
  color: aqua;
}




p.ex1 {
    border: 2px solid black;
    outline-style: dashed;
    outline-color: #ff0000; /* red */
    margin: 50px;
    padding: 20px;
    text-align: center;
    outline-width: thick;
    outline-offset: 15px;
  }
  
  p.ex2 {
    border: 2px solid black;
    outline-style: dotted;
    outline-color: #0000ff; /* blue */
    margin: 50px;
    padding: 20px;
    text-align: center;
    outline-width: medium;
    outline-offset: 15px;
  }
  
  p.ex3 {
    border: 2px solid black;
    outline-style: ridge;
    outline-color: #bbbbbb; /* grey */
    margin: 50px;
    padding: 20px;
    text-align: center;
    outline-width: thin;
    outline-offset: 15px;
  }