#a{
    background-color: aqua;
    color: crimson;
    vertical-align: baseline;
    height: 100px;
    width: 300px;
    padding: 10px;
    margin: 40px;
    border: 2px solid blueviolet;
    outline: 10px dotted yellowgreen;

}
#b{
    background-color: aqua;
    color: crimson;
    vertical-align: text-top;
    height: 50px;
    width: 200px;
    padding: 10px;
    margin: 40px;
    border: 2px solid blueviolet;
    outline: 10px dotted yellowgreen;
}
#c{
    background-color: aqua;
    color: crimson;
    vertical-align: text-bottom;
    height: 50px;
    width: 200px;
    padding: 10px;
    margin: 40px;
    border: 2px solid blueviolet;
    outline: 10px dotted yellowgreen;
}
#d{
    background-color: aqua;
    color: crimson;
    vertical-align: sub;
    height: 50px;
    width: 200px;
    padding: 10px;
    margin: 40px;
    border: 2px solid blueviolet;
    outline: 10px dotted yellowgreen;
}
#e{
    background-color: aqua;
    color: crimson;
    vertical-align: super;
    height: 50px;
    width: 200px;
    padding: 10px;
    margin: 40px;
    border: 2px solid blueviolet;
    outline: 10px dotted yellowgreen;
}
#f{
    background-color: aqua;
    color: crimson;
    vertical-align: middle;
    height: 50px;
    width: 200px;
    padding: 10px;
    margin: 40px;
    border: 2px solid blueviolet;
    outline: 10px dotted yellowgreen;
}
#g{
    background-color: aqua;
    color: crimson;
    vertical-align: top;
    height: 50px;
    width: 200px;
    padding: 10px;
    margin: 40px;
    border: 2px solid blueviolet;
    outline: 10px dotted yellowgreen;
}